.main{
    background-image: url("/images/Madrid1.jpg");
    width: 100%;
    height: 100vh;
}

.color-button-main{
   background-color: #E2A355;
   color: white;
}

.button-margin{
    margin: 5rem;
}
.title-main{
    margin: 1rem;
}